# Drizzle
DATABASE_HOST='localhost'
DATABASE_PORT='3306'
DATABASE_DATABASE=''
DATABASE_USERNAME=''
DATABASE_PASSWORD=''

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
# NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"
